body {
    background-color: #eee
}


.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #ff5d55
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {
    padding: 5px !important;
    padding-bottom: 6px !important;
    background-color: #ff5d55;
}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #ff5d55;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .wishlist {
    color: #ff5d55;
    background-color: #ffff;
    border-color: #ff5d55;
    
}
.buttons .wishlist:hover {
    color: #ffff;
    background-color: #ff5d55;
    border-color: #ff5d55;
}

.buttons .wishlist i {
    color: #ff5d55
}

.buttons .wishlist:hover i {
    color: #ffff
}

.comment-ratings i {
    color: #ff5d55
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}
