html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilo barra de navegación superior*/
.navbar-custom{
    background-color: #ff5d55;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link{
    color: #ffffff;
}

.social-icons li {
    display: inline;
}

/* Estilo para la página inicial */
.search-div {
    position: relative;
    width:100%;
    background-image: url('../img/Vista_de_Alicante.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.search-box {
    width: 45%;
    min-height: 100px;
    border-radius: 90px 90px 90px 90px;
    background-color: #ffffff;
    display:flex;
    padding: 10px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lista-ciudades {
    width: 200px;
}

.search-box .col:hover{
    border-radius: 40px;
    background-color:#5c5c5c25;
}


#lista-ciudades, #llegada, #salida, #cities-title, #zone-type {
    color: #5c5c5c;
}
#lista-ciudades, #llegada, #salida {
    font-weight: bold;
}

#city, #datepicker, #datepicker1 {
    min-width: 150px;
    border: none;
    background-color:#ffffff00;
}

#verticle-line {
    width: 0.5px;
    min-height: 40px;
    background: rgba(110, 110, 110, 0.5);
}

/* Tarjetas de las ciudades de la vista de inicio*/
#city-card, #city-card-img {
    height: 240px;
    width: 240px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 44px;
}

#city-card:hover {
    box-shadow: 0 40px 60px -20px rgba(29, 29, 29, 0.3);
    transform: scale(1.01);
}

/* Tarjetas de los tipos de casa de la vista de inicio*/
#type-card, #type-card-img {
    min-height: 240px;
    min-width: 240px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 10px;
}

#type-card:hover {
    box-shadow: 0 40px 60px -20px rgba(29, 29, 29, 0.3);
    transform: scale(1.01);
}

#hazte-anfitrion-container, #hazte-anfitrion-img {
    min-width: 400px;
    min-height: 200px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

/* Modificación para todos los botones*/
.btn_custom {
    width: 100px;
    background-color: #ff5d55;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.btn-detalles {
    border: #ff5d55 solid 1px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    color:#5c5c5c;
    font-family: "Helvetica";
    font-size: 14px;
    text-align: center;
}

.btn-detalles:hover {
    border: #ff5d55 solid 2px;
}

.btn_anfitrion {
    width: 200px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    color:#000000;
    font-family: "Helvetica";
    font-size: 20px;
    text-align: center; 
}

.dot {
    height: 5px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

/* Modificación para las estrellas*/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}
  
#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}
  
label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}