html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Estilo barra de navegación superior*/
.navbar-custom{
    background-color: #ff5d55;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link{
    color: #ffffff;
}

.social-icons li {
    display: inline;
}

/* Estilo para la página inicial */
.search-div {
    position: relative;
    width:100%;
    background-image: url('../img/Vista_de_Alicante.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.search-box {
    width: fit-content;
    min-height: 100px;
    border-radius: 90px 90px 90px 90px;
    background-color: #ffffff;
    display:flex;
    padding: 10px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.db-data {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(204, 204, 204);
}

#lista-ciudades {
    width: 200px;
}

.search-box .col:hover{
    border-radius: 40px;
    background-color:#5c5c5c0e;
}

#lista-ciudades, #llegada, #salida, #cities-title, #zone-type-title {
    color: #5c5c5c;
}

#lista-ciudades, #llegada, #salida {
    font-weight: bold;
}

#city, #datepicker, #datepicker1 {
    min-width: 100px;
    border: none;
    background-color:#ffffff00;
}

#verticle-line {
    width: 0.5px;
    min-height: 40px;
    background: rgba(110, 110, 110, 0.5);
}

/* Tarjetas */
#city-card, #type-card{
    min-height: 100px;
    min-width: 50px;
    height: 300px;
    width: 225px;
    border: none;
    border-radius: 15px;
    /*margin-top: 15px;
    margin-right: 45px;*/
}

#city-card:hover, #type-card:hover {
    box-shadow: 0px 40px 60px -15px rgba(29, 29, 29, 0.4);
    transform: scale(1.01);
}

/* Imagenes de las tarjetas */
#city-card-img, #type-card-img {
    min-height: 50px;
    min-width: 50px;
    height: 200px;
    width: 225px;
    border: none;
    border-radius: 15px;
    margin-left: 0px;
}

#hazte-anfitrion-container, #hazte-anfitrion-img {
    min-width: 400px;
    min-height: 200px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.card-title {
    font-size: 20px;
    font-weight:normal;
    color: #5c5c5c;
}

.btn-buscador{
    width: 60px;
    color: #ffffff;
    background-color: #ff5d55;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.btn-buscador:hover{
    transform: scale(1.05);
}

/* Modificación para todos los botones*/
.btn_custom {
    width: 100px;
    background-color: #ff5d55;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}



.btn-detalles {
    border: #ff5d55 solid 1px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    color:#5c5c5c;
    font-family: "Helvetica";
    font-size: 14px;
    text-align: center;
}

.btn-detalles:hover {
    border: #ff5d55 solid 2px;
}
/* Boton tarjeta de haztee anfitrion del index */
.btn_anfitrion {
    width: 200px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    color:#000000;
    font-family: "Helvetica";
    font-size: 20px;
    text-align: center; 
}
.btn_anfitrion:hover {
    transform: scale(1.04);
}

 /* Estilo botones tarjetas de index */
.btn-listas {
    width: fit-content;
    background-color: transparent;
    border: #000000 solid 0.5px;
    border-radius: 5px 5px 5px 5px;
    color:#000000;
    font-family: "Helvetica";
    font-size: 15px;
    text-align: center; 
}

.btn-listas:hover {
    color: #ffffff;
    background-color: #000000;
}

/*Estilo boton buscar facturas XML*/
.btn-buscar-factura, .btn-volver {
    width: fit-content;
    color:#ff5d55;
    font-family: "Helvetica";
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: #ff5d55 solid 0.5px;
    border-radius: 5px 5px 5px 5px;
}

.btn-buscar-factura:hover, .btn-volver:hover {
    color:#ffffff;
    background-color: #ff5d55;
    border: #ff5d55 solid 0.5px;
    border-radius: 5px 5px 5px 5px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.bg-color {
    background-color: #5c5c5c;
}

/* Modificación para las estrellas*/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}
  
#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}
  
label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

#btn-filtros, #datepicker-btn-filtros, #datepicker1-btn-filtros {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: #000000 solid 0.5px;
    border-radius: 20px/50%;
    color:#000000;
    font-family: "Helvetica";
    font-size: 15px;
    text-align: center; 
}

.db-data-font {
    font-size:8px;
}


