html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  
}

/* Estilo barra de navegación superior*/
.navbar-custom{
    background-color: #ff5d55;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link{
    color: #ffffff;
}

.social-icons li {
    display: inline;
}

/* Estilo para la página inicial */
.search-div {
    position: relative;
    width:100%;
    background-image: url('../img/Vista_de_Alicante.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.search-box {
    width: 45%;
    min-height: 100px;
    border-radius: 90px 90px 90px 90px;
    background-color: #ffffff;
    display:flex;
    padding: 10px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lista-ciudades, #llegada, #salida, #cities-title, #zone-type {
    color: #5c5c5c;
}
#lista-ciudades, #llegada, #salida {
    font-weight: bold;
}

#city, #datepicker, #datepicker1 {
    min-width: 150px;
    border: none;
}

#verticle-line {
    width: 0.5px;
    min-height: 40px;
    background: rgba(110, 110, 110, 0.5);
  }

#city-card, #city-card-img {
    height: 250px;
    width: 250px;
    border: none;
    border-radius: 15px;
}

#type-card, #type-card-img {
    min-height: 200px;
    min-width: 200px;
    border: none;
    border-radius: 15px;
}




/* Modificación para las estrellas*/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }